@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap&subset=cyrillic-ext");
@use "./variables/variables";
@use "./base.scss";

@use "./blocks/header/header.scss";
@use "./blocks/sidepanel/sidepanel";
@use "./blocks/preview/preview";
@use "./blocks/offer/offer";
@use "./blocks/calculating/calculating";
@use "./blocks/menu/menu";
@use "./blocks/order/order";
@use "./blocks/promotion/promotion";
@use "./blocks/footer/footer";
@use "./blocks/modal/modal";
